* {
    padding-bottom: 50 px;
    margin: 0px 0px;
    border: none;
    

}

body {
    width: 100svw;
    height: 100svh;
    background-image: linear-gradient(90deg, #F8F3F2, #B8ECFF);
    overflow: hidden;

}

/* This is CSS Code for Page 7 */
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.img-login {
    height: 600px;
    padding-top: 50px;
    padding-bottom: 0px;
    width: 750px;
    padding-right: 30px;
    padding-right: 50px;
    margin-right: 100px;
}

.form-label {
    text-align: center;
    margin-left: 200px;
}

.btn {
    text-align: center;
    margin-left: 70px;
}

.h1 {
    text-align: center;
    margin-left: 185px;

}

.text-muted {
    text-align: center;
    margin-left: 185px;
    padding-top: 50px;
}

.link-info {
    text-align: center;
    margin-left: 0px;
    padding-top: 50px;
    margin-top: 10px;
}

.para {
    text-align: center;
    margin-left: 185px;
    margin-bottom: 50px;

}

section{
    scale:0.9;
}
a{
            color:white;
        }
